<div class="container d-flex h-100">
    <div class="row p-5 mx-auto w-50 bg-light justify-content-center align-self-center border border-secondary rounded-lg">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Account&nbsp;&nbsp; </span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
            </div>
            <input type="text" name="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mt-5">
            <button type="button" class="btn btn-primary btn-lg btn-block">Login</button>
        </div>

    </div>
</div>
